body {
  background-color: aqua;
}
#app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.card {
  width:250px;
  height: 550px;
  box-sizing: border-box; 
  margin: 10px;
}
img {
  width: 100px;
  height: 200px
}
#buttonContainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
#btn-dino {
  background:orange;
}

#btn-dog {
  background: purple;
}
#btn-all {
  background: Green;
}
body footer {
  background-color:gray;
  text-align: center;
  color: white;
}
.card button {
  display: block;
  margin: auto;
}

/* .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
